@model QualityHat.Models.ShoppingBagViewModels.ShoppingBagViewModel

@{
	ViewData["Title"] = "Default";
}
<div>
	ViewComponent
</div>
<div>
<dl>
	<dd>
		<table class="table">
			<tr>
				<th>Selected</th>
				<th>Hat</th>
				<th>Dates</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
			@foreach (var item in Model.Order.OrderDetails)
			{
				<tr>
					<td>
						<input type="checkbox" name="selectedItems" value="@item.Hat.HatID" checked="checked" />
					</td>
					<td>@Html.DisplayFor(modelItem => item.Hat.Name)</td>
					<td>@Html.DisplayFor(modelItem => item.Hat.Disc)</td>
					<td>
						
						<a asp-action="DeleteOneFromBag" asp-controller="ShoppingBag" asp-route-id="@item.OrderDetailId">
							<span class="glyphicon glyphicon-minus-sign"></span>
						</a>
						@Html.DisplayFor(modelItem => item.Quantity)
						<a asp-action="AddOneToBag" asp-controller="ShoppingBag" asp-route-id="@item.OrderDetailId">
							<span class="glyphicon glyphicon-plus-sign"></span>
						</a>
					</td>
					<td>@Html.DisplayFor(modelItem => item.Hat.Price)</td>
				</tr>
			}
			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td>
					<label>Total:</label>
				</td>
				<td>
					@Html.DisplayFor(modelItem => Model.Order.Total)
				</td>
			</tr>
		</table>
	</dd>
</dl>
</div>