@model QualityHat.Models.Order

@{
    ViewData["Title"] = "Details";
}

<p></p>

			@await Component.InvokeAsync("Recipient", new { order = Model })

<!-- <div class="panel panel-default">
  <div class="panel-heading">Recipient Address:</div>
	<div class="panel-body"></div>
			@await Component.InvokeAsync("Recipient", new { order = Model })
</div> -->

<div class="panel panel-default">
  <div class="panel-heading"><strong>Order Information</strong></div>
	<!-- <div class="panel-body"></div> -->
	<table class="table">
								<tr>
									<th>Hat</th>
									<th>Dates</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
								@foreach (var item in Model.OrderDetails)
								{
									<tr>
										<td>@Html.DisplayFor(modelItem => item.Hat.Name)</td>
										<td>@Html.DisplayFor(modelItem => item.Hat.Disc)</td>
										<td>@Html.DisplayFor(modelItem => item.Quantity)</td>
										<td>@Html.DisplayFor(modelItem => item.Hat.Price)</td>
									</tr>
								}
								<tr>
									<td></td>
									<td></td>
									<td>
										<label>GST:</label>
									</td>
									<td>
										$@Html.DisplayFor(modelItem => Model.GST)
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td>
										<label>Total:</label>
									</td>
									<td>
										$@Html.DisplayFor(modelItem => Model.Total)
									</td>
								</tr>
							</table>
</div>

<form asp-controller="MemberOrders" asp-action="Submited">
	<div class="card text-right">
		<div class="card-header">
			<input type="submit" asp-route-id="@Model.OrderId" method="POST" class="btn btn-primary">
		</div>
	</div>
</form>
