@model QualityHat.Models.Order

@{
    ViewData["Title"] = "Recipient";
}

<br />

@await Component.InvokeAsync("Recipient", new { order = Model })

<div class="panel panel-default">
  	<div class="panel-heading">
		<div class="wrapper">
		  <div><strong>Order Information:</strong></div>
		  <div><strong>Acount: @Model.User.UserName </strong></div>
		</div>
	</div>
	<table class="table">
								<tr>
									<th>Hat</th>
									<th>Description</th>
									<th>Quantity</th>
									<th>Price</th>
								</tr>
								@foreach (var item in Model.OrderDetails)
								{
									<tr>
										<td>@Html.DisplayFor(modelItem => item.Hat.Name)</td>
										<td>@Html.DisplayFor(modelItem => item.Hat.Disc)</td>
										<td>@Html.DisplayFor(modelItem => item.Quantity)</td>
										<td>@Html.DisplayFor(modelItem => item.Hat.Price)</td>
									</tr>
								}
								<tr>
									<td></td>
									<td></td>
									<td>
										<label>GST:</label>
									</td>
									<td>
										$@Html.DisplayFor(modelItem => Model.GST)
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td>
										<label>Total:</label>
									</td>
									<td>
										$@Html.DisplayFor(modelItem => Model.Total)
									</td>
								</tr>
							</table>
</div>

<div class="row">
	<div class="col-sm-6" align="left">
		<form asp-controller="MemberOrders" asp-action="ShoppingBag"><button class="btn btn-default btn-sm">Back</button></form>
	</div>
	<div class="col-sm-6" align="right">
		<form asp-controller="MemberOrders" asp-action="Submited" asp-route-id="@Model.OrderId" method="post">
			@if (Model.Address1 == null)
			{
				<button class="btn btn-primary btn-sm" disabled>Submit</button>
			}
			else
			{
				<button class="btn btn-primary btn-sm">Submit</button>
			}

		</form>
	</div>
</div>