@model QualityHat.Models.Order

@{
	ViewData["Title"] = "Delete";
	var status = 0;
      switch (Model.OrderStatus)
      {
          case OrderStatus.Placed:
              status = 15;
              break;
          case OrderStatus.InProgress:
              status = 30;
              break;
          case OrderStatus.PreparingToShip:
              status = 45;
              break;
          case OrderStatus.Shipped:
              status = 60;
              break;			  			  			  
          case OrderStatus.Delieved:
              status = 100;
              break;
          default:
              status = 0;
              break;
      }
}

<h2>Detail</h2>

<div class="panel panel-default">
	<div class="panel-heading"><strong>Recipient Information</strong></div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.FirstName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.LastName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Phone)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address1)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Address2)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.City)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.State)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Country)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.PostalCode)
				</th>
				<th></th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(model => model.FirstName)
				</td>
				<td>
					@Html.DisplayFor(model => model.LastName)
				</td>
				<td>
					@Html.DisplayFor(model => model.Phone)
				</td>
				<td>
					@Html.DisplayFor(model => model.Address1)
				</td>
				<td>
					@Html.DisplayFor(model => model.Address2)
				</td>
				<td>
					@Html.DisplayFor(model => model.City)
				</td>
				<td>
					@Html.DisplayFor(model => model.State)
				</td>
				<td>
					@Html.DisplayFor(model => model.Country)
				</td>
				<td>
					@Html.DisplayFor(model => model.PostalCode)
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><strong>Order Status</strong>
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: @status%">
				@Html.DisplayFor(model => model.OrderStatus)
			</div>
		</div>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.OrderStatus)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.OrderDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ShippedDate)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DelievedDate)
				</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					@Html.DisplayFor(model => model.OrderStatus)
				</td>
				<td>
					@Html.DisplayFor(model => model.OrderDate)
				</td>
				<td>
					@Html.DisplayFor(model => model.ShippedDate)
				</td>
				<td>
					@Html.DisplayFor(model => model.DelievedDate)
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><strong>Order Information</strong></div>
	<!-- <div class="panel-body"></div> -->
	<table class="table">
		<tr>
			<th>Hat</th>
			<th>Description</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
		@foreach (var item in Model.OrderDetails)
		{
			<tr>
				<td>@Html.DisplayFor(modelItem => item.Hat.Name)</td>
				<td>@Html.DisplayFor(modelItem => item.Hat.Disc)</td>
				<td>@Html.DisplayFor(modelItem => item.Quantity)</td>
				<td>@Html.DisplayFor(modelItem => item.Hat.Price)</td>
			</tr>
		}
		<tr>
			<td></td>
			<td></td>
			<td>
				<label>GST:</label>
			</td>
			<td>
				$@Html.DisplayFor(modelItem => Model.GST)
			</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td>
				<label>Total:</label>
			</td>
			<td>
				$@Html.DisplayFor(modelItem => Model.Total)
			</td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="col-sm-6" align="left">
		<form asp-action="Index"><button class="btn btn-default btn-sm">Back to Orders</button></form>
	</div>
	<div class="col-sm-6" align="right">
		<!-- <form asp-action="AddToBag" asp-controller="MemberOrders"><button class="btn btn-primary btn-sm">Add to Bag</button></form> -->
	</div>
</div>